body {
    background-color: yellow;
}

.tahvel{
    display:block;
}

@media screen and  (min-width: 600px){
    body {
        background-color: red;
    }
    .mobiil{
        display: block;
    }
}
    

@media screen and  (min-width: 900px){
    body {
        background-color: green;

    .tahvel{
        display: none;
    }
    
}

.arvuti{
    display: block;
}