.konteiner-1{
    background-color: white;
    height: 50px;
    width: 500px;
    margin-left:auto;
    margin-right:auto;
    padding:15px;
    text-align: center;
    border: 1px solid black;
    border-radius: 1px;

}

.konteiner-2 {
    background-color: white;
    width: 500px;
    height: 150px;
    margin-left:auto;
    margin-right:auto;
    padding:15px;
    border: 1px solid black;
    border-radius: 1px;
    display:flexbox;
}

body{
    background-color:lightblue;
}

.sisestus{
    margin-bottom: 15px;
}
